.card {
    width: 300px;
    display: inline-block;
    margin: 50px;
    box-shadow: 10px 10px 5px 0px rgba(116, 111, 111, 0.75);
    border-radius: 5%;
    border-top: beige;

}

button {
    width: 120px;
    padding: 10px 20px;
    background-color: rgb(46, 184, 226);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: none;
    box-shadow: 5px 3px 3px 0px rgba(116, 111, 111, 0.75);
   border-radius: 5%;
   margin-bottom: 20px;
}


.container {
    padding: 20px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;

}
div{
    text-align: center;
}